@import url(https://fonts.googleapis.com/css?family=Lato);

html, body {
  padding: 0;
  margin: 0;
  height: 100%;
}

html {
  font: 1em/1.5 "Lato", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizelegibility;
}

body {
  font-size: 1.3em;
}

header {
  height: 100%;
  position: relative;
  overflow: hidden;
  background-size: cover;
}

header .content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

header h1, header h2 {
  margin: 0;
}

header h2 {
  text-transform: uppercase;
  margin-top: -.5em;
}

header hgroup {
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  display: inline-block;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  color: #fff;
  border: 5px solid #fff;
  padding: .5em 3em;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 2;
}

header .overlay {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: #333 center no-repeat;
  background-size: cover;
  z-index: 0;
  opacity: 0;
  -webkit-filter: blur(4px);
}

img {
  margin-right: 20px
}

.site {
  text-align: center;
  background-color: #efefef;
  font-size: .8em;
  color: #444;
  position: relative;
  height: 100vh;
}

.site a {
  color: #666;
  text-decoration: none;
}

.site a:hover {
  color: #222;
}

.site nav {
  position: absolute;
  top: 0;
  left: 0;
  background: #222;
  width: 100%
}

.site nav a {
  padding: 10px 30px;
  font-size: 1.3em;
  display: inline-block
}

.site nav a:hover {
  background: #333;
  color: #fff
}

blockquote {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: consolas;
}

.container {
  position: relative;
  width: 1200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.container .box {
  position: relative;
  width: 15vw;
  height: 60vh;
  margin: 30px 0;
  box-sizing: border-box;
  overflow: hidden;
}

.container .box .imgBx {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  clip-path: circle(400px at center 100px);
  transition: 0.5s;
  transition-delay: 0.5s;
}

.container .box:hover .imgBx {
  clip-path: circle(80px at center 100px);
  transition-delay: 0s;
}

.container .box .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.container .box .content {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 70%;
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
}

.container .box .content h2 {
  margin: 0;
  padding: 0;
  font-size: 1.2em;
}

.container .box .content p {
  margin: 0;
  padding: 0;
  font-size: 1em;
}

.container .box .content a {
  text-decoration: none;
  background: #000;
  color: #fff;
  padding: 5px;
  display: inline-block;
  font-size: 0.85em;
}

.container .box .content h2,
.container .box .content p,
.container .box .content a {
  opacity: 0;
  transition: 0.5s;
  transform: translateY(20px);
}

.container .box:hover .content h2 {
  opacity: 1;
  transform: translateY(0);
  transition-delay: 0.5s
}

.container .box:hover .content p {
  opacity: 1;
  transform: translateY(0);
  transition-delay: 0.7s
}

.container .box:hover .content a {
  opacity: 1;
  transform: translateY(0);
  transition-delay: 0.9s
}

/* Style the video: 100% width and height to cover the entire window */
#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100vw;
  min-height: 100vh;
}

/* Add some content at the bottom of the video/page */
.contentvideo {
  position: fixed;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
}

.contentvideo ul {
  text-align: center;
}

.contentvideo ul li {
  display: inline-block;
  padding: 10px 30px;
  font-size: 1.3em;
  }
